@font-face {
    font-family: "VV";
    src: url(VCR_OSD_MONO_1.001.ttf);
}
tr:nth-child(even) {background-color: #ffffff00;}
tr:nth-child(odd) {background-color: #ffffff00;}
tr:hover {
    background-color: rgba(42, 42, 42, 0.596);
    color: rgb(87, 219, 202);
}


body{
    background-image: url(osaka.gif);
    font-family: VV;
    

    -webkit-text-stroke: 1px black;
    color: rgb(219, 219, 219);

    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    text-align: center;

    font-size: 520%;



    -webkit-text-stroke: 1px black;
    color: rgb(219, 219, 219);

    margin-bottom: 10%;
}

div.options{
    text-align: center;

    
}

th,td {

    
    border-style: none;
    font-size: 350%;
    border-radius: 10px;

    padding: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}