@font-face {
    font-family: "VV";
    src: url(VCR_OSD_MONO_1.001.ttf);
}
tr:nth-child(even) {background-color: #ffffff00;}
tr:nth-child(odd) {background-color: #ffffff00;}

a:hover{
    color: rgb(0, 44, 85);
    -webkit-text-stroke: 2px rgb(0, 0, 0);

}



body{
    background-image: url(osaka.gif);
    font-family: VV;
    

    -webkit-text-stroke: 1px black;
    color: rgb(3, 29, 44);

    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    text-align: center;

    font-size: 720%;



    -webkit-text-stroke: 7px black;
    color: rgb(155, 7, 7);
    text-shadow: -5px -6px 6px #000000;

    margin-bottom: 10%;
}

div.options{
    text-align: center;

    
}

th,td {

    
    border-style: none;
    font-size: 450%;
    border-radius: 10px;

    padding: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}


a {
    text-decoration: none;
    text-shadow: -3px -2px 3px #000000;
    -webkit-text-stroke: 2px black;
    color: rgb(235, 239, 240);
}