1z@font-face {
    font-family: "VV";
    src: url(VCR_OSD_MONO_1.001.ttf);
}
tr:nth-child(even) {background-color: #ffffff00;}
tr:nth-child(odd) {background-color: #ffffff00;}

a:hover{
    color: rgba(0, 0, 0, 0.897);
    -webkit-text-stroke: 2px rgb(0, 0, 0);

}



body{
    background-image: url(plums.gif);
    font-family: VV;
    

    -webkit-text-stroke: 1px black;
    color: rgb(3, 29, 44);

    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    text-align: center;

    font-size: 900%;



    -webkit-text-stroke: 3px rgb(24, 18, 18);
    color: rgba(167, 50, 50, 0.438);
    text-shadow: -10px -4px 6px #463535;
    margin-top: 3%;
    margin-bottom: 4%;
}

div.options{
    text-align: center;

    
}

th,td {

    
    border-style: none;
    font-size: 500%;
    border-radius: 10px;

    padding-bottom: 15%;
}


a {
    text-decoration: none;
    text-shadow: -3px -2px 3px #000000;
    -webkit-text-stroke: 2px black;
    color: rgba(141, 34, 34, 0.246);
}